@charset "UTF-8";
/* CSS Document */

body {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}


/*	WRAPPER */
#wrapper	{
	margin: 0 auto;
	width: 72%;
}


/*	HEADER	*/
#header	{
	padding-top: -25px;
	padding-bottom: 25px;
	text-align:center;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background-color: #ccc;
}

span{
	font-size:72px;
}

/*	MENU */
#menubar{
	text-align:center;	
}

	/*	MENU LINKS */
	
	#menubar a{
		text-decoration: none;
		color: #660000;
		text-transform: lowercase;	
	}
	
	#menubar a:link{
		color: #666;	
	}
	
	#menubar a:hover{
		border-bottom: 1px dashed #000;	
	}
	
	#menubar a:visited{
		color: #666;	
	}

#menubar ul li{
	display: inline;
}

/*	CONTENT */
#content	{
	margin-top: 50px;
	margin-bottom: 50px;
	border-left: 1px dashed #000;
	border-right: 1px dashed #000;
}

#content dt{
	border-bottom: 1px dashed #ccc;	
	width: 50%;
	margin-left: 5%;
	padding-top: 10px;
	font-size: 22px;
}

#content dd{
	margin-left: 10%;
	font-size: 12px;
	padding-top: 2.5px;	
}

#content dd span{
	font-size: 12px;
	color: #660000;	
}

#content dd span ul{
	list-style-type:none;	
}

/*	FOOTER */

#footer	{
	border-top: 1px dashed #000;
	padding-top: 25px;	
}