<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WormholeServletApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WormholeServlet</display-name>
    <servlet-name>WormholeServlet</servlet-name>
    <servlet-class>net.codejava.upload.WormholeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WormholeServlet</servlet-name>
    <url-pattern>/WormholeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WormholeUpload</display-name>
    <servlet-name>WormholeUpload</servlet-name>
    <servlet-class>wormhole.WormholeUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WormholeUpload</servlet-name>
    <url-pattern>/WormholeUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WormholeRegister</display-name>
    <servlet-name>WormholeRegister</servlet-name>
    <servlet-class>wormhole.WormholeRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WormholeRegister</servlet-name>
    <url-pattern>/wormhole-register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WormholeLogin</display-name>
    <servlet-name>WormholeLogin</servlet-name>
    <servlet-class>wormhole.WormholeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WormholeLogin</servlet-name>
    <url-pattern>/wormhole-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WormholeDownload</display-name>
    <servlet-name>WormholeDownload</servlet-name>
    <servlet-class>wormhole.WormholeDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WormholeDownload</servlet-name>
    <url-pattern>/WormholeDownload</url-pattern>
  </servlet-mapping>
</web-app>